#ext_menu-0 .navbar-toggler {
  color: #000;
}
#features1-3 H4 {
  font-size: 16px;
  text-align: right;
}
#ext_menu-f .navbar-toggler {
  color: #000;
}
#ext_menu-h .navbar-toggler {
  color: #000;
}
